body{
    background-color: rgb(60,80,60);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}
h1, p{
    color: white;
}
#poisson{
    display: flex;
    justify-content: center;
    margin-top:3em;
    transform:translate(4em,0)
}

#poisson #carre1{
    height: 0;
    width: 0;
    border:150px solid rgb(0, 255, 136);
    transform: translate(0,70px) rotate(45deg);
}

#poisson #carre2{
    position: absolute;
    height: 0;
    width: 0;
    border: 75px solid rgb(134, 132, 6);
    transform: translate(0px,-150px) rotate(0deg);
}

#poisson #trianglehaut{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 120px solid rgb(0, 204, 255);
    border-bottom: 120px solid transparent;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    transform: translate(-270px,-100.5px) rotate(-45deg);
}
#poisson #trianglebas{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 120px solid rgb(0, 204, 255);
    border-bottom: 120px solid transparent;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    transform: translate(-139.5px,30px) rotate(135deg);
}
#poisson #queuehaut{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 25px solid rgb(72, 255, 0);
    border-bottom: 25px solid  rgb(72, 255, 0);
    border-left: 90px solid rgb(72, 255, 0);
    border-right: 90px solid rgb(72, 255, 0);
    transform: translate(-320px,99.5px) rotate(0deg) skewX(20deg);
}
#poisson #queuebas{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 25px solid rgb(72, 255, 0);
    border-bottom: 25px solid  rgb(72, 255, 0);
    border-left: 90px solid rgb(72, 255, 0);
    border-right: 90px solid rgb(72, 255, 0);
    transform: translate(-215px,205px) rotate(90deg) skewX(-20deg);
}

#pingouin{
    display: flex;
    justify-content: center;
    margin-top:17em;
}

#pingouin #ovale{
    height: 0;
    width: 0;
    border:150px solid rgb(117, 117, 117);
    border-radius: 170px 350px;
    transform: rotateZ(45deg);
}

#pingouin #tete{
    position: absolute;
    height: 0;
    width: 0;
    border:45px solid rgb(142, 142, 142);
    border-radius: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translate(-189px,-189px) rotateZ(-45deg) scale(1.5, 1.5);
}

#pingouin #pattehautgauche{
    position: absolute;
    height: 0;
    width: 0;
    transform: translate(-170px,10px) rotateZ(-390deg) skewX(-20deg);
    border-top:140px solid rgb(115, 115, 115);
    border-right:40px solid rgb(128, 128, 128);
    border-bottom-left-radius: 90%;
}

#pingouin #pattehautdroite{
    position: absolute;
    height: 0;
    width: 0;
    transform: translate(70px,-200px) rotateZ(-86deg) skewX(-20deg);
    border-top:140px solid rgb(164, 164, 164);
    border-right:40px solid rgb(86, 86, 86);
    border-bottom-right-radius: 90%;
}

#crabe{
    display: flex; 
    justify-content: center; 
    margin-top: 10em;
}

#crabe #corps1{
    
    height: 0;
    width: 0;
    border: 70px solid orangered;
    -webkit-clip-path: polygon(19% 100%, 85% 100%, 100% 0, 0 0); 
    clip-path: polygon(19% 100%, 85% 100%, 100% 0, 0 0);
}

#crabe #corps2{
    position: absolute;
    height: 0;
    width: 0;
    border: 70px solid orangered;
    transform: translate(0,130px);
    clip-path: polygon(19% 0%, 85% 0%, 100% 100%, 0% 100%);
}

#crabe #corpsdroite1{
    position: absolute;
    height: 100px;
    width: 0px;
    border: 70px solid black;
    transform: translate(120px, 0px);
    clip-path: polygon(13% 0%, 0 55%, 100% 40%);

}

#crabe #corpsdroite2{
    position: absolute;
    height: 100px;
    width: 0px;
    border: 70px solid black;
    transform: translate(120px, 29px);
    clip-path: polygon(0 43%, 14% 100%, 100% 28%);

}

#crabe #corpsgauche1{
    position:absolute;
    height: 100px;
    width: 0;
    border: 70px solid black;
    transform: translate(-115px,29px);
    clip-path: polygon(0 30%, 83% 100%, 100% 45%);
    

}

#crabe #corpsgauche2{
    position:absolute;
    height: 100px;
    width: 0;
    border: 70px solid black;
    transform: translate(-114px,-5px);
    clip-path: polygon(3% 45%, 100% 61%, 80% 2%);

}

#crabe #pattedroite{
    position: absolute;
    height: 100px;
    width: 0;
    border: 70px solid blueviolet;
    transform: translate(130px,45px);
    clip-path: polygon(37% 69%, 57% 97%, 89% 25%);
}
    
#crabe #pattegauche{
    position:absolute;
    height: 100px;
    width: 0;
    border: 70px solid blueviolet;
    transform: translate(-103px,73px) rotate(-10deg);
    clip-path: polygon(46% 62%, 13% 89%, 3% 6%);
}


#crabe #patteavandroite{
    position:absolute;
    height: 100px;
    width: 0;
    border: 70px solid greenyellow;
    transform: translate(100px,-130px);
    clip-path: polygon(85% 60%, 80% 80%, 25% 53%);
}


#crabe #patteavangauche{
    position:absolute;
    height: 100px;
    width: 0;
    border: 70px solid greenyellow;
    transform: translate(-120px,-145px) rotate(-3deg);
    clip-path: polygon(85% 61%, 40% 84%, 23% 65%);
}

#crabe #brasdroit{
    position: absolute;
    height: 100px;
    width: 0;
    border: 70px solid rgb(255, 47, 203);
    transform: translate(188px, -142px) rotate(110deg);
    clip-path: polygon(84% 60%, 91% 89%, 61% 63%);
}


#crabe #brasgauche{
    position: absolute;
    height: 100px;
    width: 0;
    border: 70px solid rgb(255, 47, 203);
    transform: translate(-133px, -128px) rotate(123deg);
    clip-path: polygon(71% 53%, 47% 63%, 37% 31%);

}

#crabe #avantbrasdroit{
    position: absolute;
    height: 100px;
    width: 0;
    border: 70px solid yellow;
    transform: translate(-138px, -208px) rotate(-18deg);  
    clip-path: polygon(55% 87%, 24% 70%, 68% 30%);
}

#crabe #avantbrasgauche{
    position: absolute;
    height: 100px;
    width: 0;
    border: 70px solid yellow;
    transform: translate(154px, -163px) rotate(15deg);  
    clip-path: polygon(53% 60%, 24% 70%, 25% 13%);
}


#crabe #pincedroite{
    position: absolute;
    height: 100px;
    width: 0;
    border: 70px solid rgb(10, 245, 233);
    transform: translate(128px, -195px) rotate(5deg); 
    clip-path: polygon(57% 23%, 48% 51%, 34% 34%);

}

#crabe #pincegauche{
        position: absolute;
        height: 100px;
        width: 0;
        border: 70px solid rgb(10, 245, 233);
        transform: translate(-105px, -225px) rotate(-3deg);
        clip-path: polygon(63% 42%, 40% 59%, 34% 34%);
    
    }

@media (max-width: 320px) {
    #animal{
        display:none;
    }
}

@media  (width: 414px) and (height:896px){
    #animal *{
        transform: scale(.6,.6);
    }
    
    #animal #poisson *{
        border-color: red;
    }
    #poisson #trianglehaut{
        border-top: 120px solid rgb(255, 0, 0);
        border-bottom: 120px solid transparent;
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
    }
}